<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Film Catalog</span>
    <span class="example-spacer"></span>
      <app-search *ngIf="isSearchVisible" [route]="currentRoute"></app-search>
    <span class="example-spacer"></span>
    <a mat-button *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="link.active">
      <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<app-spinner></app-spinner>
<router-outlet></router-outlet>
<!-- <app-paging *ngIf="isPagingVisible" [route]="currentRoute"></app-paging> -->

